{{ 'go-collection-banner.css' | asset_url | stylesheet_tag }}

<div class="go-section-featured-collection">
    <div class="go-featured-collection-container">
      <h1 class="go-h2-title">{{- collection.title | escape -}}</h1>
      <h2 class="go-paragraph"> 
        {{ collection.description }}
      </h2>
    </div>
</div>

{% schema %}
{
  "name": "go collection banner",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "go collection banner"
    }
  ]
}
{% endschema %}