<div class="go-section-this-is-gosoaky">
  <div class="go-this-is-gosoaky-container">
    <h2 class="go-h2-title">This is GOSOAKY</h2>
    <p class="go-paragraph">
      GOSOAKY is an Amsterdam based brand, specialized in making OUTERPROOFS<sup>TM</sup>. Our intelligent outerwear is
      designed to protect your family in any outdoor situation. We create multifunctional products that adapt to a
      modern lifestyle and love developing smart materials that work with the body and make room for play.<br>
      <br>
      Our story began with the weather and it’s fluctuating nature. Sudden showers, burst of wind and sun influence our
      daily activities. Especially when you are a family on the go. We believe that kids should be able to play outside,
      feel free and go out on adventure, rain or shine. This can be seen as difficult when the weather turns but, like
      many things in life, that won’t change the forecast! The good thing is that we can learn to ride with the waves,
      and in some cases the solution is pretty simple: you just need the right outerwear. So the quest began to find
      high quality apparel to protect our kids against the elements. We searched and searched for the perfect companions
      that could take us from outdoor adventures to city life and back.<br>
      <br>
      So on a rainy day in 2015, founders Urs Hasham, Fleur van Noesel and Johanna Carlier came together and GOSOAKY was
      born. Joining their knowledge of long careers in fashion and eager approach to create something exciting and
      essential.<br>
      <br>
      GOSOAKY quickly grew from an idea to a successful brand and we found out that our struggle to find the perfect
      waterproof outerwear was shared by many families all over the world.<br>
      <br>
      All our OUTERPROOFS<sup>TM </sup>are handmade with great attention to detail. Each GOSOAKY is either waterproof or
      water repellent, with taped or sealed seams, technical details and materials to ensure that your kids really are
      OUTERPROOF. The balance between innovation, fashion and classic silhouettes make each GOSOAKY perfect for everyday
      use. We believe that you should get the most out of a garment, especially because kids grow so fast. That’s why
      each GOSOAKY is built to last by using only high quality materials and finishes. We hope to encourage you to pass
      on your GOSOAKY to a sibling or friend :-). The GOSOAKY design studio always adjusts and improves the OUTERPROOFS<sup
        >TM </sup
      >to make them timeless, free from animal products or harmful chemicals and leaving as little waste as possible.
      Read more about this in WE CARE.<br>
      <br>
      It’s this endless love for fashion and playful approach to technical design that makes each collection exciting
      and unexpected for both kids as parents.
    </p>
  </div>
</div>

{% schema %}
{
  "name": "go this is gosoaky",
  "tag": "section",
  "class": "section",

  "presets": [
    {
      "name": "go this is gosoaky"
    }
  ]
}
{% endschema %}