<div class="go-section-we-care-info">
  <div class="go-we-care-container">
    <h2 class="go-h2-title">LET'S CHANGE THE STATUS QUO!</h2>
    <p class="go-paragraph">
      We love fashion but it makes us very sad that this industry is also one of the biggest sources of pollution. Let’s
      change the status quo! It’s our mission to make people happy with our garments and work towards a sustainable
      future. That’s why we recycle where possible and make high quality garments that can be passed on from sibling to
      sibling. It’s why no animal products or toxic chemicals are used in our materials and finishes. Every GOSOAKY is
      PFC + AZO-free, because these toxic chemicals, which are used in a lot of materials, could cause harm to our small
      ones as well as the environment. Instead we use BIONIC-FINISH® ECO on all our garments.
    </p>
    <h2 class="go-h2-title top-padding-60">LET’S TAKE CARE OF THE EARTH AS WELL AS EACH OTHER.</h2>
    <p class="go-paragraph">
      We have a very good relationship with our manufacturers, who hand make all our garments in their small factory,
      North of Beijing, China. By only working with certified suppliers we can guarantee that all the people involved in
      making our outerwear work in safe conditions, get fair pay and work normal hours. Choosing conscious means not
      looking away, controlling that conditions are upheld with annual reports and knowing that what you buy really
      matters. Change starts with you!The GOSOAKY team loves penguins, and therefore we support projects in the
      Antarctic. These dashing dressers may seem to waddle around like they just don’t care, but climate change,
      overfishing, pollution are becoming a serious penguin problem. By buying a GOSOAKY item, you contribute to making
      the penguin-world a better place.Play outside and help a penguin!<br>
    </p>
  </div>
</div>

{% schema %}
{
  "name": "go we care",
  "tag": "section",
  "class": "section",

  "presets": [
    {
      "name": "go we care"
    }
  ]
}
{% endschema %}