.go-section-contact-widget {
    width: 0;
}

.go-product-card-badge {
    position: absolute;
    z-index: 1;
    background: #ffffff;
    padding: 5px 12px;
    right: 10px;
    bottom: 10px;
    font-family: proxima-nova, sans-serif;
}


/* Siwper CSS */

.swiper-button-next,
.swiper-button-prev {
    width: 35px;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 13px;
    font-weight: bold;
}

@media (min-width: 990px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper:hover .swiper-button-next,
    .swiper:hover .swiper-button-prev {
        display: flex;
        animation: fadeOut 0.5s;
    }
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 1);
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.template--cart .go-contact-widget-btn {
    display: none !important;
}

#product-checkout-form {
    width: 100%;
    margin-top: -20px;
}

#product-checkout-form .button {
    transform: scale3d(1none, 1none, 1none);
    text-transform: uppercase;
    transform-style: preserve-3d;
    flex: none;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    font-family: proxima-nova, sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: transform .2s ease-in-out, opacity .2s;
}

.shopify-app-block .jdgm-carousel-wrapper {
    width: 100%;
}

.shopify-app-block .jdgm-carousel-wrapper .jdgm-widget.jdgm-carousel {
    width: 100%;
}

.page-width {
    padding: 0;
}

.jdgm-carousel--aligned-theme .jdgm-carousel-item__review {
    height: auto;
}

.jdgm-carousel--aligned-theme .jdgm-carousel-item__reviewer-name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (max-width: 991px) {
    .shopify-app-block .jdgm-carousel-wrapper {
        width: 100%;
    }

    .page-width {
        padding: 0 5rem;
    }
}