.go-section-contact-widget {
    width: 0;
}

.go-product-card-badge {
    position: absolute;
    z-index: 1;
    background: #ffffff;
    padding: 5px 12px;
    right: 10px;
    bottom: 10px;
    font-family: proxima-nova, sans-serif;
}


/* Siwper CSS */

.swiper-button-next,
.swiper-button-prev {
    width: 35px;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 13px;
    font-weight: bold;
}

@media (min-width: 990px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper:hover .swiper-button-next,
    .swiper:hover .swiper-button-prev {
        display: flex;
        animation: fadeOut 0.5s;
    }
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 1);
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.template--cart .go-contact-widget-btn {
    display: none !important;
}

#product-checkout-form {
    width: 100%;
    margin-top: -20px;
}

#product-checkout-form .button {
    transform: scale3d(1none, 1none, 1none);
    text-transform: uppercase;
    transform-style: preserve-3d;
    flex: none;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    font-family: proxima-nova, sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: transform .2s ease-in-out, opacity .2s;
}

.shopify-app-block .jdgm-carousel-wrapper {
    width: 100%;
}

.shopify-app-block .jdgm-carousel-wrapper .jdgm-widget.jdgm-carousel {
    width: 100%;
}

.page-width {
    padding: 0 5rem;
}

.jdgm-carousel--aligned-theme .jdgm-carousel-item__review {
    height: auto;
}

.jdgm-carousel--aligned-theme .jdgm-carousel-item__reviewer-name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart__footer .cart__discount {
    width: 100%;
    max-width: 35rem;
}

.header__inline-menu .list-menu--inline {
    flex-wrap: unset;
}

@media screen and (max-width: 991px) {
    .shopify-app-block .jdgm-carousel-wrapper {
        width: 100%;
    }

    .page-width {
        padding: 0 15px;
    }
}

body:not(.device-type--ios) shopify-apple-pay-button,
shop-pay-wallet-button {
    display: none !important;
}

@media (max-width: 768px) {
    body:not(.device-type--android) shopify-google-pay-button {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .dynamic-checkout__content {
        margin-top: -72px;
    }
}

shopify-accelerated-checkout more-payment-options-link {
    display: none !important;
}

.template--product #shopify-section-contact-widget,
.template--collection #shopify-section-contact-widget,
.template--search #shopify-section-contact-widget,
.template--cart #shopify-section-contact-widget {
    display: none !important;
}

.jdgm-carousel-title {
    color: #000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px !important;
    font-family: proxima-nova, sans-serif;
    font-size: 48px;
    line-height: 56px;
}

.jdgm-carousel-item__reviewer-name-wrapper *,
.jdgm-carousel-item__review-body *,
.jdgm-carousel-item__review-title,
.jdgm-carousel-number-of-reviews * {
    font-family: proxima-nova, sans-serif;
}

.jdgm-carousel__arrows {
    display: none;
}

.jdgm-widget * {
    color: #000;
}

@media (max-width: 767px) {
    .jdgm-carousel-title {
        margin-bottom: 16px !important;
        font-size: 32px;
        line-height: 40px;
    }
}

.sg-product-page-button--coming_soon {
    opacity: 1 !important;
}

.go-product-card-style-title {
  color: #0009;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
}

@media (max-width: 991px) {
    .go-product-card-style-title {
        font-size: 14px;
        line-height: 1em;
    }
}

@media (max-width: 479px) {
    .go-product-card-style-title {
        font-size: 12px;
    }
}

/* Cart upsell */

.cart-upsell-header {
  font-size: 18px;
  color: #000;
  margin: 0;
  font-weight: 400;
}

.cart-upsell-products {
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-upsell-product__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-upsell-product__img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.cart-upsell-product__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-upsell-product__info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
}

.cart-upsell-product__title a {
  text-decoration: none;
  font-size: 15px;
}

.cart-upsell-product__title {
  margin-bottom: 4px;
  margin-top: 0;
}

.cart-upsell-product__price {
  font-size: 14px;
  margin-bottom: 4px;
}

cart-upsell-form,
cart-upsell-form form {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-upsell-product__select {
  width: 40%;
}

.cart-upsell-product__button {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 2px 16px;
  border-radius: 0;
  transition: 0.3s;
  font-size: 12px;
  border: 1px solid #000;
}

.cart-upsell-product__button:hover {
  opacity: 0.7;
}

.cart-upsell-product__button.loading {
  color: transparent;
  position: relative;
}

.cart-upsell-product__button.loading > .loading-overlay__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.cart-upsell-product__button.loading > .loading-overlay__spinner .spinner {
  width: fit-content;
}

.cart-upsell-product__button.loading > .loading-overlay__spinner .path {
  stroke: rgb(var(--color-button-text));
}

@media (max-width: 768px) {
  .cart-upsell-product__img {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }

  .cart-upsell-product__info {
    width: calc(100% - 80px);
  }
}

.cart-drawer__footer .cart__discount {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.cart-drawer__footer .cart__discount .discount_input {
  width: 100%;
  padding: 1rem;
  outline: none;
  outline-offset: unset;
  box-shadow: none;
  border: 1px solid;
  border-radius: 0;
  font-size: 1.2rem;
}

.cart-drawer__footer .cart__discount .button.button--primary.apply_btn {
  min-width: 0;
  min-height: 0;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.cart-item__quantity-wrapper .quantity {
  width: calc(10rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
  min-height: calc((var(--inputs-border-width) * 2) + 2.5rem);
}

.cart-item__quantity-wrapper .quantity__button {
  width: calc(2.5rem / var(--font-body-scale));
}

.cart-item cart-remove-button {
  margin: 0 !important;
}

.go-featured-collection-container .go-h2-title {
  margin-bottom: 0 !important;
}

.go-section-featured-collection {
  padding-top: 36px !important;
}

.go-featured-collection-container .go-paragraph p {
  margin-bottom: 0 !important;
}

.go-featured-collection-container .go-paragraph {
  margin-bottom: 20px !important;
}

.sg-product-page-image-block-wrapper {
  width: 100%;
}

.sg-product-page-image-block-wrapper .sg-lb-widget-bl {
  padding-right: 40px;
}

.sg-lb-widget-bl .lb-bundle-cta-cont {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.sg-lb-widget-bl .lb-bundle-cont {
  border-radius: 0 !important;
}

.go-product-card-atc {
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

@media (min-width: 768px) {
  .go-product-card-block:hover .go-product-card-atc {
    transform: translate(0);
  }
}

.go-product-card-atc__button {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 450;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: transparent;
  transition: 0.3s;
  position: relative;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
}

.go-product-card-atc__button:disabled {
  text-decoration: line-through;
}

.go-product-card-atc__button:hover {
  background-color: rgb(246 246 246);
}

.go-product-card-atc__button .loading-overlay__spinner {
  position: absolute;
}

.go-product-card-atc__open {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  right: 10px;
  bottom: 10px;
  padding: 0;
  color: #000;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.go-product-card-atc__open svg {
  width: 44px;
}

@media (max-width: 768px) {
  .go-product-card-atc {
    position: fixed;
    grid-template-columns: 1fr;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .go-product-card-atc__overlap {
    position: fixed;
    width: 100vw;
    height: 100svh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 2;
  }

  .go-product-card-atc.active {
    display: grid;
    transform: translate(0);
  }

  .go-product-card-atc__overlap.active {
    display: block;
  }
}

.banner__box:empty {
  display: none;
}