.cart__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
}

.cart__footer .cart__discount {
    display: flex;
    justify-content: space-between;
}

.cart__footer .cart__discount .discount_input {
    width: 70%;
    padding: 1rem;
    outline: none;
    outline-offset: unset;
    box-shadow: none;
}

.cart__footer .cart__discount .button.button--primary.apply_btn {
    min-width: 27.5%;
    padding: 0.6rem;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.cart__footer .discounts__discount {
    font-size: 17px;
}